extends layout

block content
  h1= title
  p Welcome to #{title}



  h2 Results
  ul
    for result in results

      h2 Shipments
      ul
        for shipment in result.shipments

          li= shipment.TotalCharges.MonetaryValue

          = service_codes[ ("0" + shipment.Service.Code).slice (-2) ]

